<!DOCTYPE html>
<html>
  <head>
    <meta charser="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <p>project page text would go here</p>

    {{> footer}}
  </body>
</html>
